<div>
  <h1>SFOSL</h1>
  <div >
    <% if @tournament %>
        <div><%= link_to "Delete Tournament", tournament_path(@tournament), :method => :delete %></div>
        <% if @tournament.tournament_type == 'ping_pong' && !@has_generated_contestants %>
          <%= link_to "Generate top 32 players", generate_finalists_tournament_path(@tournament), :methd => :get %>
        <% end %>
        <% @tournament.rounds.each do |round| %>
          <div class="container round"  style="padding: 20px">
            <h4>Round number <%= round.round_number %> </h4>
            <div class ="row match">
              <% round.matches.each do |mat| %>
                <b>Match</b>
                <TABLE>
                  <tr>
                    <td>Contestant 1: </td>
                    <td> <%= Contestant.find_by(id: mat.contestant_one_id).try(:name) %> </td>
                  </tr>
                    <td>Contestant 2: </td>
                    <td><%= Contestant.find_by(id: mat.contestant_two_id).try(:name)  %> </td>
                  <tr>
                    <td> Score: </td>
                    <td><%= mat.contestant_one_score%> : <%= mat.contestant_two_score %> </td>
                  </tr>
                    <td> Winner: </td>
                    <td><%= Contestant.find_by(id: mat.winner_id).try(:name) %> </td>
                  </tr>
                </TABLE>

                <%= link_to "Update Match Results", tournament_match_path(@tournament, mat) %>
                <br/>
              <% end %>
            </div>
          </div>
          <% if round.active == true %>
            <%= link_to "Conclude Current Round", finish_tournament_round_path(@tournament, round), :method => :post %>
          <%end %>
        <% end %>
        <% if @winner %>
          <p>Winner is <%= @winner.name %> </p>
        <% else %>
          <div>
            <% if @tournament.tournament_type == 'ping_pong' && @has_generated_contestants %>
              <%= link_to "Create New Round", tournament_rounds_path(@tournament), :method => :post %>
            <% elsif @tournament.tournament_type == 'fooseball' %>
              <%= link_to "Create New Round", tournament_rounds_path(@tournament), :method => :post %>
            <%end %>
          </div>
        <% end %>
    <% else %>
      <%= link_to "Create new Tournament", new_tournament_path %>
    <% end %>

  </div>

</div>